<style>
    .image-gallery {overflow: auto; margin: 0; padding: 0;}
    .image-gallery li {float: left; display: block; margin: 0 0em 0.1em 0.1em; width: 30em}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">
  {% for file in site.static_files %}
  {% if file.path contains include.folder %}
  {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
  {% assign filenameparts = file.path | split: "/" %}
  {% assign filename = filenameparts | last | replace: file.extname,"" %}
  <li>
    <a href="https://media.githubusercontent.com/media/bikuluki/swtor/main/{{ file.path }}" title="{{ filename }}">
      <img src="https://images.weserv.nl/?url=media.githubusercontent.com/media/bikuluki/swtor/main/{{ file.path }}&w=1200&h=800&output=jpg&q=100&t=square" alt="{{ filename }}" title="{{ filename }}" />
    </a>
  </li>{% endif %}{% endif %}{% endfor %}
</ul>
